# The basics of Python

In this notebook we will learn some of the basic syntax of Python. We will use what we learn today throughout the rest of the semester. So make sure you are understanding the main ideas, and try to practice more on your own.

## Python ##

Let's explore some basic arithmetic operations!

In [3]:
# add numbers
2+3

5

In [4]:
# subtract numbers
4-1

3

In [5]:
# multiple numbers
3*2

6

In [6]:
# divide numbers
5/2

2.5

In [7]:
# Take numbers to a power:  2 * 2 * 2
2**3

8

## Names ##

We can assign a value to a `name` which store the value. We can then refer to the name in future operations. 

Let's do the following:
- Assign 10 to the the name `a`
- Assign 6 to the the name `b`
- Assign the sum of `a` and `b` to a name called `total`

In [9]:
# assign the name a to the value 10
a = 10

In [10]:
# print a
a

10

In [11]:
# assign the name b to the value 6
b = 6

In [12]:
# assign the name total to a plus b
total = a + b

In [13]:
# print total
total

16

In [14]:
# change b
b = 7

In [15]:
# print total again
total

16

In [16]:
# assign the name total to a plus b again
total = a + b

In [17]:
# print total again
total

17

### Yearly minimum wage salarly

The minimum wage in Connecticult is [$16.35 per hour](https://portal.ct.gov/governor/news/press-releases/2024/09-2024/governor-lamont-announces-minimum-wage-will-increase-in-2025?language=en_US). If someone was working 40 hours a week for all 52 weeks in a year, what would their yearly salary be?  

While we could do the calculation in a single step, let's create some intermediate names to make the calculation more comprehensible. In particular, create the following names as part of intermediate calculations: 

- `hours_per_week`: the number of hours in a work week (40)
- `weeks_per_year`: the number of weeks in a year 
- `total_hours`: the total number of hours in a year
- `ct_hourly_minimum_wage`: minimum wage in Connecticut 
- `total_wages`: total wages earned in a year

In [19]:
# create names hours_per_week and weeks_per_year
hours_per_week = 40
weeks_per_year = 52

In [20]:
# calculate (approximate) total hours in a year and assign to name total_hours
total_hours = hours_per_week * weeks_per_year

In [21]:
# print total hours
total_hours

2080

In [22]:
# create ct_hourly_minimum_wage
ct_hourly_minimum_wage = 16.35

In [23]:
# calculate total_wages
total_wages = total_hours * ct_hourly_minimum_wage
total_wages

34008.0

## Call expressions ##

Call expression call "functions" to compute values. 

A few example functions are: 
- `abs()`: Takes the absolute value of a number
- `min(x, y, ..., z)`: Takes the minimum value of x, y, ..., z
- `round()`: round a number, potentially to a given number of decimal places

In [25]:
# take absolute value of -5
abs(-5)

5

In [26]:
# print a
a

10

In [27]:
# print b
b

7

In [28]:
# take absolute value of b minus a
abs(b-a)

3

In [29]:
# take the minimum value of 8 and 3
min(8,3)

3

In [30]:
# round a number
round(3.14)

3

In [31]:
# round a number to 2 digits
round(123.4567,2)

123.46

## Numbers ##

Numbers in Python are of two basic types:

* Integers which are whole numbers (e.g., 1, 10, 0, -5, etc.)
* Floating point numbers which are decimal numbers (e.g., 2.0, 3.1415, etc.)

In [33]:
10 * 3  # int

30

In [34]:
1.7 + 4  # float

5.7

In [35]:
2 + 3 # int

5

In [36]:
2. + 3 # float

5.0

In [37]:
10 / 3            # float

3.3333333333333335

In [38]:
10 / 2  # still a float

5.0

In [39]:
123 ** 4

228886641

In [40]:
1234567 ** 890 # limited size, but limit is large

ValueError: Exceeds the limit (4300 digits) for integer string conversion; use sys.set_int_max_str_digits() to increase the limit

In [41]:
0.12345678901234567890123456789 # limited precision

0.12345678901234568

In [42]:
30 / 400

0.075

In [43]:
30 / 4000000000 # output in scientific notation

7.5e-09

In [44]:
9 ** 0.5

3.0

In [45]:
13 ** 0.5

3.605551275463989

In [46]:
(13 ** 0.5) ** 2 # After arithmetic, the final few decimal places can be wrong

12.999999999999998

In [47]:
float(3)

3.0

In [48]:
int(6.75)

6

# The basics of Python continued....

## Review of the basics of Python

Let's review the basics of Python with a "number journey"...
1. Create a floating point number 3.14159 and assign it to the name `pi_approx`.
2. Multiple `pi_approx` by 2 and assign to the name `pi_approx_2x`
3. Convert `pi_approx_2x` to an integer and assign it in the name `just_an_int`
4. Divide `just_an_int` by -8 and assign it to the name `a_negative_float`
5. Take the absolute value of `a_negative_float` and assign it to the name `a_positive_float` and print out the value of `a_positive_float`. 

Hint, the following functions could be useful: `int()`, `abs()`

In [51]:
pi_approx = 3.14159

pi_approx_2x = pi_approx * 2

just_an_int = int(pi_approx_2x)

a_negative_float = just_an_int/(-8)

a_positive_float = abs(a_negative_float)

print(a_positive_float)

0.75

## Strings ##

Strings are how Python represents text. Strings can be created by putting text in either single quotes or in double quotes, but the same type of quote must be used at the start and end of the string. 

* `"This is a string created using double quotes"`
* `'This is a string created using single quotes'`
* `'This is not a correctly formed string because it starts with a single quote and ends with a double quote"`

In [53]:
# create a string
'flavor'

'flavor'

In [54]:
# create another string
"any snippet of text"

'any snippet of text'

In [55]:
 # concatenation #串联
"hello" + "world"

'helloworld'

In [56]:
 # concatenation
'straw' + "berry"

'strawberry'

In [57]:
# multiplication 
'ha' * 3

'hahaha'

In [58]:
# convert a number to a string 
str(2)

'2'

In [59]:
# convert a string to an interger
int("2")

2

In [60]:
# convert a string to an interger - take 2

# int('2.3')
#如果字符串中的是小数，需要先float再int

In [61]:
# convert a string to a float
float("2.3")

2.3

In [62]:
# convert a string to an integer - take 3
int(float("2.3"))

2

In [63]:
# building numbers through string concatenation 
# 2+"x"

In [64]:
# building numbers through string concatenation - take 2

In [65]:
# using differen types of quotes 
"i'm happy"

"i'm happy"

In [66]:
# using differen types of quotes - take 2
# 'i'm happy'
#内容中有'时，用双引号更好

## Types ##

Which can check what *type* is being stored in a name using the `type()` function.

In [68]:
type(2)

int

In [69]:
type(2.3)

float

In [70]:
type('123')

str

In [71]:
type(a)
#表达式的type取决于其值，而非其形式

int

## Lists 

Lists are a "data structure" we can use that can hold multiple values. 

We use the square brackets to create lists; e.g., `my_list = [1, 2, 3]`

We can also access elements using

In [73]:
# A list of numbers
my_list = [1,2,3]
my_list

[1, 2, 3]

In [74]:
# A list of strings
mylist2 = ['a','b']
mylist2

['a', 'b']

In [75]:
# Lists can hold elements of different types
mylist3 = [1,2,'three']
mylist3

[1, 2, 'three']

In [76]:
# We can access elements of a list also using square brackets
mylist2[0]
#注意，Python中编号从0开始

'a'

In [77]:
# We can replace elments of a list as well
mylist2[0]='z'
mylist2

['z', 'b']

In [78]:
# concatenating lists
long_list = my_list + mylist2
long_list

[1, 2, 3, 'z', 'b']

In [79]:
# getting the number of elements in a list using the len() function 
len(long_list)

5

In [80]:
# slicing lists
long_list[0:3]
#左包右不包

[1, 2, 3]

In [81]:
# start at a different index
long_list[2:5]

[3, 'z', 'b']

In [82]:
# what does this do? 
long_list[0:5:2]
#跳着取，跳跃间隔：2-1

[1, 3, 'b']

In [83]:
# If a list is all numbers we can sum the values, or the maximum value
max(my_list)

3

In [84]:
# Can't sum values that are not numbers
# sum(long_list)

# Example: NBA Salaries

Let's look a salaries of basketball players in the NBA! The data we will analyze contains infomraiton about each player including their salary from the 2022-2023 season listed in millions of dollars.  

We will load the data as a "pandas DataFrame" which is a data structure we will discuss more in a couple of weeks. We will then convert the data to lists and dictionaries to explore it further. 

This table can be found online: https://www.statcrunch.com/app/index.php?dataid=1843341

In [86]:
import pandas as pd


# download the data
import YData 
YData.download_data("nba_salaries_2022_23.csv")
  

# load in the data
nba = pd.read_csv("nba_salaries_2022_23.csv")  

# show the first 5 rows
nba.head()

The file `nba_salaries_2022_23.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

            PLAYER POSITION           TEAM     SALARY
0  De'Andre Hunter       SF  Atlanta Hawks   9.835881
1    Jalen Johnson       SF  Atlanta Hawks   2.792640
2       AJ Griffin       SF  Atlanta Hawks   3.536160
3    Trent Forrest       SG  Atlanta Hawks   0.508891
4     John Collins       PF  Atlanta Hawks  23.500000

In [87]:
# get the salaries as a list

salary_list = nba["SALARY"].to_list()
player_list = nba["PLAYER"].to_list()

In [88]:
# Who is the first player listed?
player_list[0]

"De'Andre Hunter"

In [89]:
# What is the salary of the first 5 players?
salary_list[0:5]

[9.835881, 2.79264, 3.53616, 0.508891, 23.5]

In [90]:
# What is the maximum and minimum salaries? 
print(max(salary_list))
print(min(salary_list))

48.070014
0.005849

In [91]:
# What is the minimum salary in dollars (rather than millions of dollars)?
min(salary_list)*(10**6)

5849.0

In [92]:
# What is the average salary?
sum(salary_list)/len(salary_list)

8.41659874732334

## Text manipulation

A large part of Data Scientists' time is spent cleaning data, and a large part of data cleaning consists of manipulating text.

Let's explore some of the functions that are built into Python for manipulating strings of text.

### 1. Changing capitalization

One of the most basic things we can do is to change the capitalization of a piece of text. 

One case where this comes up is when one is merging two DataFrames that have the same key values but the values have different capitalization. For example, one might have two DataFrames that have a column that has the names of different countries, but in one DataFrame the country names are capitalized and in the other they are not. 

Python strings have a number of methods to change the capitalization of words including: 

- `capitalize()`: Converts the first character to upper case
- `lower()`: Converts a string into lower case
- `upper()`: Converts a string into upper case
- `title()`: Converts the first character of each word to upper case
- `swapcase()`: Swaps cases, lower case becomes upper case and vice versa

Let's explore these methods by manipulating this [quote](https://www.brainyquote.com/topics/yale-quotes) from [Herman Melville](https://en.wikipedia.org/wiki/Herman_Melville): "a whale ship was my Yale College and my Harvard".

In [95]:
melville_quote = "a whale ship was my Yale College and my Harvard"

melville_quote

'a whale ship was my Yale College and my Harvard'

In [96]:
# Capitalize the first letter 
melville_quote.capitalize()

'A whale ship was my yale college and my harvard'

In [97]:
# Convert all letters to lower case
melville_quote.lower()

'a whale ship was my yale college and my harvard'

In [98]:
# Convert all letters to upper case
melville_quote.upper()

'A WHALE SHIP WAS MY YALE COLLEGE AND MY HARVARD'

In [99]:
# Make the first letter of each word capitalized
melville_quote.title()

'A Whale Ship Was My Yale College And My Harvard'

In [100]:
# Make uppercase lowercase, and lowercase uppercase
melville_quote.swapcase()

'A WHALE SHIP WAS MY yALE cOLLEGE AND MY hARVARD'

In [101]:
melville_quote

'a whale ship was my Yale College and my Harvard'

### 2. Splitting and joining strings

There are several methods that can help us join strings that are contained into a list into a single string, or conversely, parse a single string into a list of strings. These include: 

- `split(separator_string)`: Splits the string at the specified separator, and returns a list
- `splitlines()`: Splits the string at line breaks and returns a list
- `join(a_list)`: Converts the elements of an iterable into a string

In [103]:
# Split the Melville quote at each space into a list
str_list = melville_quote.split(" ")
str_list
#（）中的是按照什么来分割

['a', 'whale', 'ship', 'was', 'my', 'Yale', 'College', 'and', 'my', 'Harvard']

In [104]:
# get the element at index 1
str_list[1]

'whale'

In [105]:
# Split a string at each line into a list

poem = """Some say the world will end in fire,
Some say in ice.
From what I’ve tasted of desire
I hold with those who favor fire.
But if it had to perish twice,
I think I know enough of hate
To say that for destruction ice
Is also great
And would suffice."""

poem

'Some say the world will end in fire,\nSome say in ice.\nFrom what I’ve tasted of desire\nI hold with those who favor fire.\nBut if it had to perish twice,\nI think I know enough of hate\nTo say that for destruction ice\nIs also great\nAnd would suffice.'

In [106]:
# Split the poem into a list 
poem.split("\n")

['Some say the world will end in fire,',
 'Some say in ice.',
 'From what I’ve tasted of desire',
 'I hold with those who favor fire.',
 'But if it had to perish twice,',
 'I think I know enough of hate',
 'To say that for destruction ice',
 'Is also great',
 'And would suffice.']

In [107]:
# Split the poem into a list -take 2
poem.splitlines()

['Some say the world will end in fire,',
 'Some say in ice.',
 'From what I’ve tasted of desire',
 'I hold with those who favor fire.',
 'But if it had to perish twice,',
 'I think I know enough of hate',
 'To say that for destruction ice',
 'Is also great',
 'And would suffice.']

In [108]:
# Join a string together
#把list里的字符串拼成句子
a_list = ["A", "Whale", "of"]
" ".join(a_list)

'A Whale of'

### 3. Finding and replacing substrings

Some methods for locating a substring within a larger string include: 

- `count(substring)`: Returns the number of times a specified value occurs in a string
- `replace(original_str, replacement_str)`: Replace a substring with a different string.

Also: 
- `startswith(substring)`: Returns true if the string starts with the specified value
- `endswith(substring)` : Returns true if the string ends with the specified value

In [110]:
# How many times does the word "my" occur in the Melville quote? 
melville_quote.count("my")

2

In [111]:
# Replace a substring
melville_quote.replace("Harvard","the other school")

'a whale ship was my Yale College and my the other school'

In [112]:
# Does the quote start with "a"?
melville_quote.startswith("a")
#注意是starts，不是start，s！

True

In [113]:
# Does the quote end with Harvard? 
melville_quote.endswith("Harvard")

True

### Example: string processing on webpages

As an example, let's do some string processing on webpages!

In [115]:
# Download a webpage and save it as a file called politics.html

import requests

url = 'https://www.foxnews.com/media/gen-z-influencers-thank-president-elect-trump-saving-tiktok'
r = requests.get(url, allow_redirects=True)
open('politics.html', 'wb').write(r.content)

323932

In [116]:
# Read in the file as a string called webpage_string
file = open('politics.html', 'r', encoding="utf8")
webpage_string = file.read()

# Look at the first 300 characters 
webpage_string[0:300]

'<!doctype html>\n<html data-n-head-ssr lang="en" data-n-head="%7B%22lang%22:%7B%22ssr%22:%22en%22%7D%7D">\n  <head>\n    <title>Gen Z influencers thank President Trump for saving TikTok | Fox News</title><meta data-n-head="ssr" http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><meta data-n-head="'

In [117]:
# Replace a word on the webpage

webpage_updated = webpage_string.replace("TikTok","the source of all wisdom")

In [118]:
# Write updated string to a file
text_file = open("updated_politics.html", "w", encoding="utf8")
n = text_file.write(webpage_updated)
text_file.close()

## Comparisons ##

We can do simple mathematical and string comparisons in Python which return Boolean values.

In [120]:
# The Boolean True
True

True

In [121]:
# The Boolean False
False

False

In [122]:
# True is equal to 1 and Fase is equal to 0
True + True

2

In [123]:
# basic math comparison
5 > 2

True

In [124]:
# checking the type of a basic math comparison
type(5 > 2)

bool

In [125]:
# another basic math comparison
5 < 2

False

In [126]:
# We use == to compare whether two items are equal (not 5 = 5)
5 == 5

True

In [127]:
x = 20
y = 7

In [128]:
# we can compare whether a value is between two values
10 < x <21

True

In [129]:
# we can also do mathematical operations between logical comparisons
12 < x-y <18

True

In [130]:
# we can use the `and` keyword to combine multiple logical statements 
x > 10 and y > 5

True

In [131]:
# we can also use the `or` keyword to combine multiple logical statements 
x > 10 or y < 5

True

In [132]:
# We can also compare strings
"ydata"=="ydata"

True

In [133]:
# Stings compare alphabetically
# 按照字母表顺序排，a<b<c...
"Harvard" < "Yale"

True

In [134]:
# Shorter words occur earlier than longer words that have matching letters
"cat" < "cats"

True

In [283]:
"A"<"a"

True

## More string manipulation
## 不考

### 1. Checking string properties

There are also many functions to check properties of strings including:

- `isalnum()`: Returns True if all characters in the string are alphanumeric
- `isalpha()`: Returns True if all characters in the string are in the alphabet
- `isnumeric()`: Returns True if all characters in the string are numeric

- `isspace()`: Returns True if all characters in the string are whitespaces

- `islower()`: Returns True if all characters in the string are lower case
- `isupper()`:Returns True if all characters in the string are upper case
- `istitle()`: Returns True if the string follows the rules of a title

Let's test some of these methods out...

In [137]:
# Checking if a string is all letters

In [138]:
# Checking if a string is all numbers

In [139]:
# Checking if a string only contains spaces

In [140]:
# Checking if a string is upper case

### 2. String padding

Often we want to remove extra spaces (called "white space") from the front or end of a string. Or conversely, sometimes we want to add extra spaces to make a set of strings the same length (this is known as "string padding"). 

Python strings have a number of methods that can pad/trim strings including: 

- `strip()`: Returns a trimmed version of the string (i.e., with no leading or trailing white space). 
- `center(num)`: Returns a centered string (with equal padding on both sides)
- `zfill(num)`: Fills the string with a specified number of 0 values at the beginning

Let's use a modified version of Melville quote to explore this

In [142]:
melville_quote2 = "    a whale ship was my Yale College and my Harvard   "
melville_quote2

'    a whale ship was my Yale College and my Harvard   '

In [143]:
# Strip the white space

In [144]:
# Center the quote by padding with white space 
#. to have a total of 70 characters

In [145]:
# Make a number have leading 0's 
# Q: Why/when is this useful?

### 3. Filling in strings with particular values

There are a number of ways to fill in strings parts of a string with particular values. Perhaps the most useful is to use "f strings", which have the following syntax such as: 

`f"my string {value_to_fill} will be filled in"`.

Where the value of the variable `value_to_fill` will be filled into the string. 

Let's try it out...

In [147]:
# Let's use an f-string

In [148]:
# We can also do formatting with f-strings